/* ==========================
   DASHBOARD
========================== */

.dashboard{

    width:100%;
    max-width:900px;

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));

    gap:10px;

    margin-bottom:20px;

}